data/raw_read_counts.csv.gz
data/cytokine_combo_2ndrun/counts_cytocombo.csv.gz
output/fit-lps-k=16.RData
output/fits-lps-bytissue.RData
output/gsea-lps-k=16.RData
output/gsea-lps-k=16-CP+GO-only.RData
